@import "delete";

$social: (
	"gmail": var(--gmail-primary),
	"twitter": var(--twitter-primary),
	"github": var(--github-primary),
	"telegram": var(--telegram-primary),
	"discord": var(--discord-primary),
	"linkedin": var(--linkedin-primary),
	"instagram": var(--instagram-primary),
	"gitlab": var(--gitlab-primary),
	"polywork": var(--polywork-primary),
);

.button {
	@include control;
	@include unselectable;

	color: var(--button-color);
	background: var(--button-background);
	border-color: var(--button-border-color);
	cursor: pointer;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);

	.icon {
		height: 1.5em;
		width: 1.5em;

		&:first-child:not(:last-child) {
			margin-left: calc(
				(-1 / 2 * var(--button-padding-horizontal)) -
					var(--control-border-width)
			);
			margin-right: calc(var(--button-padding-horizontal) / 4);
		}

		&:last-child:not(:first-child) {
			margin-right: calc(
				(-1 / 2 * var(--button-padding-horizontal)) -
					var(--control-border-width)
			);
			margin-left: calc(var(--button-padding-horizontal) / 4);
		}

		&:first-child:last-child {
			margin-left: calc(-0.5em - var(--control-border-width));
			margin-right: calc(-0.5em - var(--control-border-width));
		}
	}

	@each $name, $pair in $colors {
		$background: nth($pair, 1);
		$color: nth($pair, 2);

		&.is-#{$name} {
			background: $background;
			color: $color;
			border-color: transparent;

			&.is-active,
			&:focus,
			&:focus-visible {
				border-color: scale($background, -30%);
			}
		}
	}

	strong {
		color: inherit;
	}

	// When theme is dark brightness 0.6
	// When theme is light brightness would be 1.4, but it's too bright, so I need
	// to subtract 0.2 and now we're happy

	&.is-active,
	&:hover,
	&:focus {
		filter: brightness(
			calc(100% + (var(--dark) * 30%) - (var(--dark) - 1) * 10%)
		);
	}

	&.is-active,
	&:focus {
		--button-border-color: var(--contrast-color-300);
	}

	@each $name, $color in $social {
		&.#{$name} {
			@include control-medium;

			--control-border-radius: 100%;
			--button-background: var(--background-color-200);
			--button-color: #{$color};
			--button-border-color: transparent;
			--contrast-color-100: #{$color};

			&:focus {
				--button-border-color: var(--text-color-100);
			}
		}
	}
}

.buttons {
	display: inline-flex;
	flex-flow: row wrap;

	&:not(last-child) {
		margin-bottom: 1rem;
	}

	&:last-child {
		margin-bottom: -0.5rem;
	}

	> .button:not(last-child) {
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
	}

	&.is-centered {
		justify-content: center;
	}
}

.instagram > .icon {
	background: var(--instagram-primary);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-khtml-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.polywork > .icon {
	display: flex;
	align-items: center;
	justify-content: center;

	> i {
		content: url("/assets/img/polywork-icon.svg");
		max-width: 20px;
	}
}
