@import "variables";

@import "functions";

@import "colors";

:root {
	--main-font: "Raleway", sans-serif;
	--title-font: "Montserrat", sans-serif;
	--monospace-font: "IBM Plex Mono", monospace;
	--font-size: 1em;

	--button-padding-vertical: calc(0.5em - var(--control-border-width));
	--button-padding-horizontal: 1em;

	--column-gap: 0.75rem;
	--small-radius: 4px;

	--transition: 200ms linear;
}

@import "links";

@import "reset";

@import "mixins";
@import "extends";

@import "spacing";

@import "menu";

@import "buttons";

@import "columns";

@import "title";

@import "utilities";

@import "content";

@import "tags";

@import "pagination";

@import "form";

@import "modal";

@import "card";

@import "notification";

@import "footer";

* {
	transition-property: color, background;
	transition-duration: 200ms;
	transition-timing-function: linear;
}

body {
	text-rendering: optimizeLegibility;
	background-color: var(--background-color-100);
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;
}

body {
	position: relative;
	min-height: 100vh;
	display: grid;
	font-family: var(--main-font);
	line-height: 1.5;
	background-color: var(--background-color-100);
	color: var(--text-color-100);
	font-size: var(--font-size);

	grid-template:
		"menu" auto
		"main" 1fr
		"footer" auto
		/ 100%;

	@include desktop {
		grid-template:
			"menu main" 1fr
			"footer footer" auto
			/ minmax(auto, 20%) minmax(auto, 80%);
	}
}

#side-menu-container {
	grid-area: menu;
	z-index: 1;

	@include desktop {
		position: sticky;
		grid-area: 1 / 1 / 3 / 1;
	}
}

main#main-container {
	grid-area: main;
	position: relative;
}

.section {
	padding: 0.5rem 1rem;

	@include desktop {
		padding: 1rem 3rem;
	}
}

.error-section {
	padding: 1rem 3rem 1rem 3rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: 100%;
}

.reader {
	width: calc(100% - var(--code-padding));
	max-width: 70ch;
	font-size: nth($sizes, 6);

	@include desktop {
		font-size: nth($sizes, 5);
	}
}

.post-section {
	padding: 1rem 1rem 0 1rem;

	&:not(last-child) {
		margin-bottom: 2rem;
	}
}

.skip-link {
	--text-color: var(--accent-color-300);
	--background-color: var(--background-color-200);
	--focus-text-color: var(--accent-color-300);
	--active-text-color: var(--accent-color-300);

	text-decoration: none !important;
	font-size: nth($sizes, 5);
	position: absolute;
	left: 10%;
	padding: 4px;
	transform: translateY(-100%);
	transition: transform 0.3s;
	z-index: 3;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-color: var(--accent-color-100);

	&:focus,
	&:focus-visible,
	&:active {
		transform: translateY(0%);
	}
}

.license-link {
	@extend %inline-block;

	margin-bottom: nth($sizes, 7) / 2;
}

::selection {
	background: var(--accent-color-100);
	color: var(--text-color-100);
}

.turbo-progress-bar {
	height: 5px;
	background-color: var(--accent-color-300);
}

img,
picture,
video {
	&:not(.dark) {
		filter: brightness(calc(70% - ((var(--dark) - 1) * 15%)));
		transition: filter var(--transition);
	}
}

video {
	max-width: 100%;
}

img,
picture {
	display: block;
	margin: 0 auto;
	max-width: 100%;

	&:not(:first-child) {
		margin-top: 0.5rem;
	}

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&.image-left {
		max-width: 300px;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	&.image-right {
		max-width: 300px;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	&.avatar {
		@extend .is-full-rounded;

		vertical-align: middle;
		width: 200px;
		z-index: 2;
	}
}

picture.is-fullwidth {
	width: 100%;

	> *,
	> img.image {
		width: 100%;
		max-height: none;
	}
}

img:not([alt]) {
	outline: 0.5em dashed var(--accent-color-100);
}

.image.post-image {
	@extend %inline-block;

	margin-bottom: 0.5em;

	@include desktop {
		max-height: 200px;
		max-width: 200px;
		margin-bottom: 0;
	}
}

.anchor {
	display: block;
	height: 54px;
	margin-top: -54px;
	visibility: hidden;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: var(--monospace-font);
}

code {
	color: var(--accent-color-300);
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-size: 0.875em;
	overflow-x: auto;
	padding: 1.25rem 1.5rem;
	white-space: pre;
	word-wrap: normal;
	margin-bottom: 1em;

	code {
		color: var(--code-color);
		font-size: 1em;
		padding: 0;
	}
}

.equation {
	text-align: center;

	.katex-display {
		background: var(--background-color-200);
		padding: 1em 2em;
		border-radius: var(--small-radius);
		margin: auto;
		display: inline-block;
	}

	> span {
		margin: 0;
	}
}

.dark {
	.art-container .art-gallery {
		filter: brightness(60%);

		img {
			background: var(--background-color-100);
		}
	}
}

.art-container {
	.art-gallery {
		background-attachment: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0.5rem 1rem;
		border-radius: var(--small-radius);

		img {
			padding: 1em 2em;
			background: var(--text-color-100);
		}

		&:not(:last-child) {
			margin-right: 1em;
			margin-bottom: 1em;
		}

		.image-art-title {
			border-radius: 0.5em;
			border: nth(map-get($colors, "golden"), 1) solid;
			margin: auto;
			background: var(--background-color-100);
		}
	}
}

.sidebar-item {
	display: block;

	&:not(:last-child) {
		margin-bottom: 0.25rem;
	}
}

.mobile-separator {
	display: block;
	margin: 0 0.5rem;

	@include desktop {
		display: inline-block;
	}
}

.keycode {
	font-family: var(--monospace-font);
	font-size: 0.5em;
	vertical-align: middle;

	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}

.repo {
	&.fixed-top-bar {
		position: absolute;
		z-index: 1;
		text-align: center;

		@include desktop {
			grid-area: menu;
			position: relative;
		}

		.button.git {
			border-radius: var(--small-radius);
			margin-top: 0;
			transform: translateY(-50%);

			@include desktop {
				@include control-medium;

				margin-top: nth($sizes, 3);
			}

			@include touch {
				--control-border-radius: 2px;
				--control-font-size: #{nth($sizes, 7)};

				position: absolute;
				top: nth($sizes, 3);
				left: 0.5rem;

				background: var(--background-color-100);
			}
		}
	}

	&.hero {
		width: 100%;
		text-align: center;
		background: var(--background-color-200);
		grid-area: main;
		padding: 2em 1em 1em;
		margin-bottom: 0.5rem;

		@include desktop {
			padding: 1em 5em;
			margin-bottom: 0;
		}
	}
}

sup.ref {
	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}

.progress {
	width: 100%;
	background: var(--background-color-300);
	border-color: var(--background-color-300);
	height: 1.25rem;

	color: var(--accent-color-100);

	&::-moz-progress-bar {
		background: var(--accent-color-100);
	}

	&::-webkit-progress {
		&-bar {
			background: var(--background-color-300);
		}

		&-value {
			background: var(--accent-color-100);
		}
	}
}

.category-header {
	--border-style: solid;
	background: var(--background-color-200);
	padding: 0.75em 2em;
	text-align: center;
	border-radius: 2em 0 2em 0;
	border: 3px var(--primary-color-100);
	border-style: none var(--border-style) var(--border-style) none;

	@include desktop {
		border-style: var(--border-style) none none var(--border-style);
	}
}

.printable {
	display: none;
}

.reactions {
	display: flex;
	justify-content: flex-end;
}

.twitter-share-button {
	border: none;
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);
	color: #fff;
	border-radius: var(--small-radius);
	background: var(--twitter-primary);

	&:hover,
	&:focus,
	&:focus-visible {
		border-radius: var(--small-radius);
		background: var(--twitter-primary);
		color: #fff;

		.dark & {
			color: var(--background-color-100);
		}
	}
}

@keyframes slide-in {
	from {
		top: 100%;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes diagonal {
	from {
		top: 0;
		right: -80%;
	}

	to {
		top: 100%;
		right: 30%;
	}
}

@keyframes spin-around {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

input {
	accent-color: var(--accent-color-100);
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	gap: 2em;

	@include touch {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	article {
		display: flex;
		min-height: 12em;
		justify-content: center;
		align-items: center;
		min-width: 0;
		position: relative;
		isolation: isolate;
		overflow: hidden;

		* {
			cursor: pointer;
		}

		figure {
			img {
				border-radius: 8px;
			}

			figcaption {
				margin-top: 0.5em;
				text-align: center;
			}
		}

		.description {
			top: 100%;
			position: absolute;
			gap: 0.5em;
			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			color: var(--text-color-100);
		}
	}

	article:focus-within,
	input.hidden:checked + {
		figure figcaption {
			visibility: hidden;
		}

		.description {
			inset: 0;
			z-index: 1;
			animation: 0.5s cubic-bezier(0.86, 0, 0.07, 1) slide-in;

			@media (prefers-reduced-motion) {
				animation: 0.7s linear appear;
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background: var(--background-color-100);
				z-index: -1;
				opacity: 0.9;
			}
		}
	}
}

small {
	color: var(--text-color-300);
}

.is-loading {
	position: absolute;
	left: calc(50% - (1em / 2));
	top: calc(50% - (1em / 2));

	animation: spin-around 1s infinite linear;
	border: 2px solid var(--accent-color-300);
	border-radius: 100%;
	border-bottom-color: transparent;
	border-right-color: transparent;
	content: "";
	height: var(--spinner-size, 1em);
	aspect-ratio: 1 / 1;
}

[v-cloak] {
	display: none;
}

@import "gist";
