---
---

@import "colors";

:root {
	--dark: 1;

	--background-h: 240;
	--background-s: 23%;
	--background-l: 5%;

	--text-h: 249;
	--text-s: 21%;
	--text-l: 83%;

	--primary-h: 216;
	--primary-s: 41%;
	--primary-l: 30%;

	--contrast-h: 206;
	--contrast-s: 47%;
	--contrast-l: 60%;

	--accent-h: 322;
	--accent-s: 42%;
	--accent-l: 46%;

	--background-hsl-100: var(--background-h), var(--background-s),
		var(--background-l);
	--background-hsl-200: var(--background-h), var(--background-s),
		calc(var(--background-l) + (6% * var(--dark)));
	--background-hsl-300: var(--background-h), var(--background-s),
		calc(var(--background-l) + (12% * var(--dark)));

	--text-hsl-100: var(--text-h), var(--text-s), var(--text-l);
	--text-hsl-200: var(--text-h), var(--text-s),
		calc(var(--text-l) - (6% * var(--dark)));
	--text-hsl-300: var(--text-h), var(--text-s),
		calc(var(--text-l) - (12% * var(--dark)));

	--primary-hsl-100: var(--primary-h), var(--primary-s), var(--primary-l);
	--primary-hsl-200: var(--primary-h), var(--primary-s),
		calc(var(--primary-l) + (6% * var(--dark)));
	--primary-hsl-300: var(--primary-h), var(--primary-s),
		calc(var(--primary-l) + (12% * var(--dark)));

	--contrast-hsl-100: var(--contrast-h), var(--contrast-s), var(--contrast-l);
	--contrast-hsl-200: var(--contrast-h), var(--contrast-s),
		calc(var(--contrast-l) - (6% * var(--dark)));
	--contrast-hsl-300: var(--contrast-h), var(--contrast-s),
		calc(var(--contrast-l) - (12% * var(--dark)));

	--accent-hsl-100: var(--accent-h), var(--accent-s), var(--accent-l);
	--accent-hsl-200: var(--accent-h), var(--accent-s),
		calc(var(--accent-l) + (8% * var(--dark)));
	--accent-hsl-300: var(--accent-h), var(--accent-s),
		calc(var(--accent-l) + (16% * var(--dark)));

	@each $color in ("background", "text", "primary", "contrast", "accent") {
		@each $num in (100, 200, 300) {
			--#{$color}-color-#{$num}: hsl(var(--#{$color}-hsl-#{$num}));
		}
	}

	@each $pair in $tag-colors {
		$name: nth($pair, 1);
		--#{$name}-color: hsl(var(--#{$name}-hsl));
	}

	--github-primary: #f0f6fc;
	--gmail-primary: #eb4132;
	--twitter-primary: #1da1f2;
	--telegram-primary: #28a8ea;
	--discord-primary: #7289da;
	--linkedin-primary: #0a66c2;
	--gitlab-primary: #fc6d26;
	--instagram-primary: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);

	--code-color: var(--text-color-100);

	--golden-hsl: 43, 74%, 49%;

	--yellow-hsl: 42, 100%, 8%;

	--red-hsl: 0, 100%, 13%;

	--green-succulent-hsl: 123, 27%, 25%;

	--purple-hsl: 280, 84%, 21%;

	--creative-a: hsl(162, 100%, 15%);
	--creative-b: hsl(102, 100%, 15%);

	--blue-hsl: 208, 100%, 25%;

	--orange-hsl: 11, 90%, 36%;

	--emerald-hsl: 180, 100%, 10%;

	--vue-hsl: 211, 28%, 29%;

	--mint-hsl: 153, 48%, 28%;

	--golden-invert: var(--background-color-100);

	--white-hsl: 0, 0%, 80%;
	--white-invert: var(--background-color-100);
}
