---
---

.dark:root {
	--dark: -1;
}

html {
	font-size: 12pt;
}

html,
#app,
.menu-list,
#main-container,
#main-container > .columns > .column,
.columns {
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-flow: column;
}

#app *,
.reader {
	max-width: 100%;
}

.menu {
	border-bottom: none;

	a {
		position: relative;
		font-size: 1.75em;
		color: var(--text-color-100);

		&:first-child::after {
			position: absolute;
			content: "{{ site.title }}";
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(120%);
		}
	}
}

#main-container {
	break-before: avoid;
}

#title-div {
	flex-flow: row;
}

img,
picture {
	filter: none !important;
}

.columns,
picture,
img,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
	break-inside: avoid;
}

.page-break {
	&-before {
		break-before: always;
	}

	&-after {
		break-after: always;
	}
}

picture,
img {
	max-height: 20em;
}

.menu > .menu-list:last-child,
footer.footer,
nav.pagination,
video,
#reactions {
	display: none;
}

.printable {
	display: initial;
}

.columns {
	flex-flow: row nowrap !important;
}
