---
author: halivert
layout: html
title: "Halí"
hide_foot: true
lang_buttons: true
---

{% include menu.html %}

{% assign author = site.data.authors[layout.author] %}

<main id="main-container" class="section">
	<div class="columns is-centered">
		<div class="column is-8-desktop has-text-centered">
			<h1 class="title is-2 normal-wrap">
				{{ author.first_name }} {{ author.last_name }}
			</h1>

			{% if content != '' %}
				{{ content }}
			{% else %}
				<main>
					<p class="mb-2">
						<a href="https://jw.org">JW</a>,
						estudiando una
						<a href="https://www.escom.ipn.mx/"
							>ingeniería en sistemas computacionales</a
						>.
					</p>

					<p>
						Me dedico al desarrollo web y me encantan los algoritmos y las
						matemáticas.
					</p>

					<p>
						Encontrarás más sobre mí en mi
						<a href="{{ '/blog/' | absolute_url }}">blog</a>.
					</p>

					<p class="mt-1">
						También puedo ayudarte a resolver algunos problemas de programación.
						Puedes ver algunos de mis
						<a href="{{ '/projects/' | absolute_url }}">proyectos</a>.
					</p>

					<p>
						Puedes enviarme un correo
						(<a href="mailto:{{ author.email.at }}">{{ author.email.at }}</a>)
						{% if author.kofi %}
							y también
							<a href="{{ author.kofi }}">invitarme un café</a>
							si quieres.
						{%- endif -%}
					</p>
				</main>
			{% endif %}

			<p class="buttons is-centered mt-3">
				{% for item in author.social %}
					<a
						class="button
							{{ item.type }}
							{% if item.hidden %}is-hidden{%- endif -%}"
						href="{{ item.url }}"
						data-turbo="false"
						rel="me">
						<span class="icon">
							<i class="{{ item.icon }}" aria-hidden="true"></i>
						</span>
					</a>
				{% endfor %}
			</p>

			<figure>
				<img
					src="https://gravatar.com/avatar/{{ author.email.md5 }}?s=300"
					class="avatar"
					loading="lazy"
					alt="Imagen de perfil de {{ layout.author }}"
					onContextMenu="vibrate([150, 30, 150]);"
				/>
			</figure>
		</div>
	</div>
</main>
