<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | replace: '_', '-' }}">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<script type="module">
			import * as turbo from "https://cdn.skypack.dev/@hotwired/turbo";
		</script>

		{%- if site.webmention -%}
			<link rel="webmention" href="{{ site.webmention.webmention }}" />
			<link rel="pingback" href="{{ site.webmention.pingback }}" />
		{%- else -%}
			<link
				rel="webmention"
				href="https://webmention.io/halivert.dev/webmention"
			/>
			<link rel="pingback" href="https://webmention.io/halivert.dev/xmlrpc" />
		{%- endif -%}

		{%- assign cssAssets = "/assets/css" | absolute_url -%}

		<link rel="stylesheet" href="{{ cssAssets }}/colors-dark.css" />

		<link
			rel="stylesheet"
			href="{{ cssAssets }}/colors.css"
			media="(prefers-color-scheme: light)"
		/>

		<link rel="stylesheet" href="{{ cssAssets }}/halivert.css" />

		<link
			rel="stylesheet"
			href="{{ cssAssets }}/print.css"
			media="print"
		/>

		<link
			rel="stylesheet"
			href="{{ cssAssets }}/gist-theme.css"
			media="print"
			onload="this.media='all'; this.onload=null;"
		/>

		<link
			rel="stylesheet"
			href="{{ cssAssets }}/fa.min.css"
			media="print"
			onload="this.media='all'; this.onload=null;"
		/>

		<link
			rel="stylesheet"
			href="{{ cssAssets }}/solarized.css"
			media="print"
			onload="this.media='all'; this.onload=null;"
		/>

		<noscript>
			<link rel="stylesheet" href="{{ cssAssets }}/gist-theme.css" />
			<link rel="stylesheet" href="{{ cssAssets }}/fa.min.css" />
			<link rel="stylesheet" href="{{ cssAssets }}/solarized.css" />
		</noscript>

		{% include unix_timestamp.html %}
		{%- assign author = site.data.authors[page.author] -%}
		{%- if author and author.first_name -%}
			<meta property="author:name" content="{{ author.first_name }}" />
		{%- else -%}
			<meta property="author:name" content="" />
		{%- endif -%}

		{%- if author and author.social -%}
			{%- assign telegram = author.social | where: "type", "telegram" -%}
			{% if telegram.first and telegram.first.url %}
				<meta property="telegram:author" content="{{ telegram.first.url }}" />
			{% else %}
				<meta property="telegram:author" content="" />
			{% endif %}
		{%- else -%}
			<meta property="telegram:author" content="" />
		{%- endif -%}

		{%- if site.telegram.channel -%}
			<meta name="telegram:channel" content="{{ site.telegram.channel }}" />
		{%- else -%}
			<meta name="telegram:channel" content="@halivertsblog" />
		{%- endif -%}

		{%- if site.payment_pointer -%}
			<meta name="monetization" content="{{ site.payment_pointer }}" />
		{%- else -%}
			<meta name="monetization" content="$ilp.uphold.com/yJJL4YrpRMQi" />
		{%- endif -%}

		{%- assign jsAssets = "/assets/js" | absolute_url -%}

		<script>window.siteUrl = "{{ '/' | locale_url }}"</script>
		<script type="module" src="{{ jsAssets }}/main.js"></script>
		<script type="module" src="{{ jsAssets }}/search.js" defer></script>
		<script type="module" src="{{ jsAssets }}/post.js" defer></script>

		{% seo %}
		{% if page.has_math %}
			{% include katex.html %}
			<meta property="has_instant_view" content="false" />
		{% elsif page.has_instant_view %}
			<meta property="has_instant_view" content="true"/>
		{% else %}
			<meta property="has_instant_view" content="false"/>
		{% endif %}
	</head>

	<body>
		{% unless page.hide_skip_link or layout.hide_skip_link %}
			<a
				class="skip-link"
				href="#main-container"
				data-turbo="false"
				tab-index="0"
				>{{ 'Ir al contenido' | __ }}</a
			>
		{% endunless %}

		{{ content }}

		{% unless page.hide_foot or layout.hide_foot %}
			{% include footer.html %}
		{% endunless %}
	</body>
</html>
