---
layout: container
---

{%- capture pageImage -%}
	{%- include remove_ext.html file=page.image -%}
{%- endcapture -%}

{% assign author = site.data.authors[page.author] %}
{%- assign post_url = page.url | absolute_url -%}

<div class="columns">
	<div class="column is-offset-1-desktop">
		<div class="reader">
			<div id="title-div" class="columns mb-0">
				<header class="column">
					<h1 class="title is-2 has-text-primary">{{
						page.title
					}}</h1>
					<small>
						{% if author.first_name %}
							<i>{{ 'por' | __ }}</i>
							<a href="{{ page.author | prepend: '/authors/' | locale_url }}">{{
								author.first_name
							}}</a> -
						{% endif %}

						{% if page.last_modification %}
							<span
								title="{{ 'Fecha original' | __ }}: {{ page.date | locale_date }}">
								<i>{{ 'última modificación' | __ }}:</i>
								{{ page.last_modification | locale_date }}
							</span>
						{% else %}
							<i>{{ 'publicado' | __ }}:</i> {{ page.date | locale_date }}
						{% endif %}
					</small>
				</header>
				{% if page.image %}
					<div class="column is-4-desktop has-text-right">
						{%- assign path = pageImage | absolute_url -%}
						{%- assign dark_img = "" -%}
						{%- if page.image_dark -%}
							{%- assign dark_img = " dark" -%}
						{%- endif -%}

						{%- assign class_name = "image post-image" | append: dark_img -%}
						{%- assign class_name = class_name | append: " is-fullwidth" -%}
						{%
							include picture.html
								class=class_name
								path=path
								alt=page.image_alt
								types=page.image_types
						%}
					</div>
				{% endif %}
			</div>
			<div class="columns">
				<div class="column tags">
					{%- for tag in page.tags -%}
						{%- assign downTag = tag | downcase -%}
						<span class="tag {{ site.data.tags[downTag].color }}">{{
							tag | __
						}}</span>
					{%- endfor -%}
				</div>
			</div>
			<hr />
			<section id="content" class="content">
				{{ content }}
			</section>

			<section v-cloak v-scope id="reactions" class="mt-4">
				<hr />

				<div class="flex justify-between items-center">
					<a
						class="button twitter-share-button"
			      :href="twitterLink('{{ post_url }}')">
						<span class="icon"><i class="fab fa-twitter"></i></span>
						<span>{{ 'Tweet' | __ }}</span>
					</a>

					<div
					  v-scope="Reactions({ postUrl: '{{ post_url }}'})"
						v-on:mounted="fetchReactions"
						class="reactions">

						<span v-for="reaction in reactions" :key="reaction.name">
							<i :class="reaction?.className"></i>
							<span v-text="reaction?.count"></span>
						</span>
						<a v-if="mentions && mentions.count" :href="mentions.url">
							<i class="fas fa-quote-right has-text-text ml-3 mr-2"></i>
							<span v-text="mentions.count || 0"></span>
						</a>
					</div>
				</div>
			</section>

			<div class="printable">
				<p class="has-text-right">{{ page.url | absolute_url }}</p>
			</div>
		</div>
	</div>
</div>
